.footer {
  background-color: #007BFF;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  height: auto;
  min-width: 110%;
  max-width: 110%;
;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  margin-top: auto;
}

.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
}
.random-concept {
  font-style: italic;
  color: #f4f0f0;
  font-size: 1rem;
  min-height: 2.5em;
  transition: all 0.3s ease;
}
